#pojo/gsonPojo
CodesVO.kt
GetTeamDataClass.kt
SearchMateClass.kt
StaffDataClass.kt

#pojo
AlertDTO.kt
BasicDTO.kt
BgImgDTO.kt
BuildingJsonDTO.kt
GalleryDTO.kt
MayorStaffJsonDTO.kt
NoticeDTO.kt
StaffJsonDTO.kt
TeamJsonDTO.kt
TourDTO.kt
VideoDTO.kt

#util/local/converter/interface
IConverterAlert.kt
IConverterBasic.kt
IConverterBgImg.kt
IConverterBuilding.kt
IConverterGallery.kt
IConverterMayor.kt
IConverterNotice.kt
IConverterStaff.kt
IConverterTeamInfo.kt
IConverterTour.kt
IConverterVideo.kt
IConverterWhole.kt

#util/local/converter/list
ConverterAlertList.kt
ConverterBasicList.kt
ConverterBgImgList.kt
ConverterBuildingList.kt
ConverterGalleryList.kt
ConverterMayorList.kt
ConverterNoticeList.kt
ConverterStaffList.kt
ConverterTeamInfoList.kt
ConverterTourList.kt
ConverterVideoList.kt
ConverterWholeList.kt

#util/local/converter/tree
ConverterAlertTree.kt
ConverterBasicTree.kt
ConverterBgImgTree.kt
ConverterBuildingTree.kt
ConverterGalleryTree.kt
ConverterMayorTree.kt
ConverterNoticeTree.kt
ConverterStaffTree.kt
ConverterTeamInfoTree.kt
ConverterTourTree.kt
ConverterVideoTree.kt
ConverterWholeTree.kt

#util/local
DataLoader.kt

#util
FileController.kt

#main
JsonParser.kt

/build